@use "./typography" as *;

@mixin font($font-size, $line-height, $font-weight) {
  font-family: $font-stack;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
