@use "partials/mixins" as *;
@use "partials/typography" as *;

html {
  background-color: rgba(255, 250, 245, 0.548);
}

body {
  margin: 0;
}
h3,
h4 {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  border-bottom: 1px solid rgb(64, 64, 218);
  padding: 1%;
  @include tablet {
    flex-direction: row;
    padding: 2%;
    justify-content: space-between;
  }
  &__text {
    font-size: 1rem;
    @include tablet {
      @include font(1.2rem, 1vw, 400);
    }
    @include desktop {
      @include font(1.4rem, 1vw, 400);
    }
  }
  &__left {
    max-width: 20%;
    @include tablet {
      max-width: 10%;
    }
  }

  &__left img {
    max-width: 100%;
    @include tablet {
    }
  }
  form {
    width: 50%;
    @include font(1.5vw, 2vw, 400);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    font-size: 1.3rem;
    white-space: nowrap;

    @include tablet {
      width: 70%;
      flex-direction: row;
    }
    & > * {
      margin: 0.5rem;
    }
  }
}

.form {
  &__input {
    height: 2rem;
    width: 100%;
    padding: 0;
    text-align: center;
    border-radius: 5px;
    @include tablet {
      width: 35%;
      font-size: 2rem;
    }
  }
  &__button {
    @include font(0.8vw, 1vw, 600);
    padding: 0.5rem 1rem;
    color: white;
    background: blue;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 1rem;
    @include tablet {
      padding: 0.8rem;
    }
  }
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3%;
  @include tablet {
    flex-direction: row;
  }
}

.main {
  &__box {
    border: aliceblue solid 2px;
    flex-direction: column;
    display: flex;
    margin: 0;
    padding: 0;
    @include desktop {
      flex-direction: row;
      padding: 2rem;
    }
  }
  &__left {
    width: 100%;
    @include desktop {
      //width: 50%;
      border-radius: 6px;
    }
  }
  &__img {
    width: 100%;
    border-radius: 3px;
  }
  &__right {
    width: 100%;
    border: aliceblue solid 2px;
    border-radius: 6px;
    padding-left: 1rem;
    @include tablet {
      border: none;
    }
    @include desktop {
      width: 70%;
    }
  }
  &__title {
    @include font(1.5rem, 2vw, 600);
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
    word-wrap: break-word;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
  }
  &__author {
    @include font(1.2rem, 1.5rem, 400);
  }
  &__date {
    @include font(1rem, 1vw, 400);
  }
  &__copy {
    @include font(100%, 2rem, 400);
    letter-spacing: 0.5px;
    text-align: left;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: aliceblue;
  border-top: 1px solid grey;
  padding: 0.5rem;
  
  @include tablet {
    align-items: center;
    padding: 1rem;
    flex-direction: row;
  }

 &__block {
   @include tablet{
    display: flex;
   }
   @include desktop{
    margin-left: 1rem;
   }
 }
  
  &__socials {
    display: flex;
    margin-bottom: 0;
    @include tablet {
    }
  }
  &__copyright {
    white-space: nowrap;
    @include font(0.8rem, 1rem, 400);
    @include tablet {
    }
   
    
  }
  &__socials--logo {
    width: 2.5rem;
    @include tablet {
      width: 3rem;
    }
    @include desktop {
      width: 5rem;
    }
  }
  &__socials--logo-mid {
    @extend .footer__socials--logo;
    margin: 0 0.8rem;
  }
  &__logo-bottom {
    width: 5rem;
    @include tablet {
      width: 8rem; 
    }
  
  }
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(247, 247, 247);
  z-index: 2;
  cursor: pointer;
}

#overlay img {
  display: block;
  margin: auto;
  margin-top: 20%;
  max-width: 25vw;
  @keyframes slidein {
    from {
      transform: translateY(100%);
    }

    to {
      transform: translateY(-90%);
    }
  }
  animation: slidein 5s;
}
