@font-face {
  font-family: "Avenir";
  src: url(../assets/fonts/alternatives/AvenirNextLTPro.ttf), url(../assets/fonts/AvenirNextLTPro-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url(../assets/fonts/alternatives/AvenirNextLTProDemi.ttf), url(../assets/fonts/AvenirNextLTPro-Demi.otf);
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url(../assets/fonts/alternatives/AvenirNextLTProBold.ttf), url(../assets/fonts/AvenirNextLTPro-Bold.otf);
  font-weight: 700;
}
html {
  background-color: rgba(255, 250, 245, 0.548);
}

body {
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aliceblue;
  border-bottom: 1px solid blue;
  padding: 1% 5%;
}
.header__left {
  max-width: 25%;
}
.header__left img {
  max-width: 50%;
}
.header form {
  width: 50%;
  border: red solid 3px;
  font-family: "Avenir";
  font-size: 1.5vw;
  line-height: 2vw;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  font-size: 1.3rem;
  white-space: nowrap;
}

.form__input {
  border: blue solid 3px;
  height: 2rem;
  width: 30%;
  font-family: "Avenir";
  font-size: 1vw;
  line-height: 1vw;
  font-weight: 400;
  text-align: center;
  border-radius: 5px;
}
.form__button {
  font-family: "Avenir";
  font-size: 0.8vw;
  line-height: 1vw;
  font-weight: 600;
  height: 1.8rem;
  color: white;
  background: blue;
  border: 1px solid gray;
  border-radius: 5px;
}

#main {
  display: flex;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.main__left {
  width: 45vw;
  margin-left: 5%;
  border-radius: 3px;
}
.main__right {
  max-width: 40%;
  margin-right: 5%;
  margin-left: 5%;
}
.main__title {
  font-family: "Avenir";
  font-size: 3.5vw;
  line-height: 4vw;
  font-weight: 600;
  text-align: center;
  margin: 0;
}
.main__header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.main__author {
  font-family: "Avenir";
  font-size: 2vw;
  line-height: 2vw;
  font-weight: 400;
}
.main__date {
  font-family: "Avenir";
  font-size: 1.5vw;
  line-height: 1.5vw;
  font-weight: 400;
}
.main__copy {
  font-family: "Avenir";
  font-size: 1.25vw;
  line-height: 2.5vw;
  font-weight: 400;
  text-align: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: aliceblue;
  border-top: 1px solid grey;
}
.footer__title {
  font-family: "Avenir";
  font-size: 2.5vw;
  line-height: 2vw;
  font-weight: 600;
  margin-bottom: 10%;
}
.footer__socials {
  width: 15vw;
  display: flex;
  justify-content: space-between;
}
.footer__copyright {
  margin-top: 10%;
  font-family: "Avenir";
  font-size: 1vw;
  line-height: 1vw;
  font-weight: 400;
}
.footer__logo-bottom {
  width: 20vw;
  float: right;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(247, 247, 247);
  z-index: 2;
  cursor: pointer;
}

#overlay img {
  display: block;
  margin: auto;
  margin-top: 20%;
  max-width: 25vw;
  -webkit-animation: slidein 5s;
          animation: slidein 5s;
}
@-webkit-keyframes slidein {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(-90%);
  }
}
@keyframes slidein {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(-90%);
  }
}/*# sourceMappingURL=main.css.map */