@use "partials/mixins" as *;
@use "partials/typography" as *;

html {
  background-color: rgba(255, 250, 245, 0.548);
}

body {
  margin: 0;
}

.header {
  display: flex;
  height: 10rem;
  align-items: center;
  justify-content: space-between;
  background-color: aliceblue;
  border-bottom: 1px solid grey;
  padding-left: 5%;
  padding-right: 5%;

  &__left {
    max-width: 25%;
  }

  &__left img {
    max-width: 90%;
  }
  form {
    @include font(1.5vw, 2vw, 400);
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.form {
  &__box {
    height: 2.5rem;
    @include font(1vw, 1vw, 400);
    text-align: center;
    border-radius: 5px;
    background-color: rgba(255, 250, 245, 0.548);
  }
  &__button {
    margin-top: 3%;
    @include font(0.8vw, 1vw, 600);
    height: 1.8rem;
    color: white;
    background: #323232;
    border: 1px solid gray;
    border-radius: 5px;
  }
}

#main {
  display: flex;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.main {
  &__left {
    width: 45vw;
    margin-left: 5%;
    border-radius: 3px;
  }
  &__right {
    max-width: 40%;
    margin-right: 5%;
    margin-left: 5%;
  }
  &__title {
    @include font(3.5vw, 4vw, 600);
    text-align: center;
    margin: 0;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &__author {
    @include font(2vw, 2vw, 400);
  }
  &__date {
    @include font(1.5vw, 1.5vw, 400);
  }
  &__copy {
    @include font(1.25vw, 2.5vw, 400);
    text-align: center;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: aliceblue;
  border-top: 1px solid grey;

  &__title {
    @include font(2.5vw, 2vw, 600);
    margin-bottom: 10%;
  }
  &__socials {
    width: 15vw;
    display: flex;
    justify-content: space-between;
  }
  &__copyright {
    margin-top: 10%;
    @include font(1vw, 1vw, 400);
  }
  &__logo-bottom {
    width: 20vw;
    float: right;
  }
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(247, 247, 247);
  z-index: 2;
  cursor: pointer;
}

#overlay img {
  display: block;
  margin: auto;
  margin-top: 20%;
  max-width: 25vw;
  @keyframes slidein {
    from {
      transform: translateY(100%);
    }

    to {
      transform: translateY(-90%);
    }
  }
  animation: slidein 5s;
}
